/* COLOR SECTION */
  /* Generic questionnaire colors */
:root {
  --primary-color-900: hsla(218, 22%, 7%, 1);
  --primary-color-700: hsla(218, 22%, 12%, 1);
  --primary-color-500: hsla(218, 12%, 18%, 1); /* dark greyish blue */
  --primary-color-500-opacity: hsla(218, 12%, 18%, 0.9); /* for CTA sticky background */
  --primary-color-400: hsla(218, 12%, 22%, 1);
  --primary-color-300: hsla(218, 12%, 26%, 1);
  --primary-color-100: hsla(218, 17%, 33%, 1);

  --neutral-color-900: hsla(211, 10%, 53%, 1);
  --neutral-color-700: hsla(211, 13%, 65%, 1);
  --neutral-color-500: hsla(210, 16%, 82%, 1); /* grey */
  --neutral-color-300: hsla(214, 15%, 91%, 1);
  --neutral-color-100: hsla(216, 33%, 97%, 1);

  --accent-color1-900: hsla(153, 92%, 30%, 1);
  --accent-color1-700: hsla(153, 93%, 42%, 1);
  --accent-color1-500: hsla(153, 100%, 53%, 1); /* green */
  --accent-color1-300: hsla(153, 100%, 69%, 1);
  --accent-color1-100: hsla(153, 100%, 79%, 1);

  --accent-color2-900: hsla(44, 92%, 63%, 1);
  --accent-color2-700: hsla(48, 94%, 68%, 1);
  --accent-color2-500: hsla(48, 95%, 76%, 1); /* yellow */
  --accent-color2-300: hsla(48, 100%, 88%, 1);
  --accent-color2-100: hsla(49, 100%, 96%, 1);

  --color-white: hsla(0, 0%, 100%, 1); /* full white */
  --color-black: hsla(210, 50%, 1%, 1); /* rich black */

  --shadow-top: 0 -1px 5px hsla(0, 0%, 0%, 0.75);
  --shadow-normal: 0px 1px 2px hsla(0, 0%, 0%, 0.7);
  --border-top: 1px solid hsla(227, 12%, 30%, 1);
}

body {
  background-color: var(--primary-color-900);
  color: var(--color-white);
}

a {
  color: var(--accent-color2-500);
}

#header-main {
  background-color: var(--primary-color-700);
  box-shadow: var(--shadow-normal);
}

#logo {
  color: var(--color-white);
}

.questionnaire-container,
.letter-container {
  background-color: var(--primary-color-500);
}

.active-section-container {
  border-color: var(--accent-color1-500);
  background-color: var(--primary-color-400);
}

/* Unselected text field */
.field-container input[type="text"],
.field-container input[type="email"],
.field-container input[type="password"],
.field-container .abstract,
.field-date input[type="number"],
.field-date input[type="text"] {
  background-color: var(--neutral-color-300);
  border-color: var(--neutral-color-900);
}

/* Selected text field */
.field-container input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
.field-container .abstract:focus,
.field-date input[type="number"]:focus,
.field-date input[type="text"]:focus,
#ticket-month {
  background-color: var(--color-white);
  border-color: var(--accent-color2-500);
}

/* CTAs */
.cta-sticky-container {
  background-color: var(--primary-color-500-opacity);
  border-top: var(--border-top);
}

.button-cta,
.button-cta:active,
.button-cta-letter,
.button-cta-letter:active {
  box-shadow: inset 0 0 0 1.5px var(--neutral-color-500);
  background-color: transparent;
  color: var(--neutral-color-500);
}

.button-cta:hover,
.button-cta-letter:hover {
  box-shadow: inset 0 0 0 1.5px var(--neutral-color-300);
  color: var(--neutral-color-300);
}

.button-next,
.button-next:active,
#button-submit,
#button-submit:active {
  box-shadow: none;
  background-color: var(--accent-color1-500);
  color: var(--color-black);
}

.button-next:hover,
#button-submit:hover {
  box-shadow: none;
  background-color: var(--accent-color1-300);
  color: var(--color-black);
}

/* Footer */
#footer-main {
  background-color: var(--primary-color-700);
  border-top: var(--border-top);

}

  /* Radio buttons */
.field-radio-button label,
.customRB::after { /* rb center dot. should match label background color */
  color: var(--neutral-color-500);
}

.field-radio-button label:hover {
  background-color: var(--primary-color-300);
  color: var(--color-white);
}

input:checked ~ label .customRB {
  border-color: var(--accent-color1-500);
}

input:checked ~ label .customRB::after {
  background-color: var(--accent-color1-500);
}

.field-radio-button input:checked ~ label {
  color: var(--accent-color1-500);
  border-color: var(--accent-color1-500);
  background-color: var(--primary-color-300);
}
  /* Special information boxes */
.info-box-div,
 #letter-preview-container {
  background-color: var(--color-white);
  color: var(--color-black);
}

.contact-box {
  background-color: var(--primary-color-300);
  color: var(--color-white);
}

/* footer tabs */
#articles,
#reset,
#feedback {
  color: var(--color-white);
}

/* LETTER PREVIEW PAGE SPECIFIC COLORS */
.contact-box {
  box-shadow: var(--shadow-normal);
}

.letter-cta-container {
  background-color: var(--primary-color-300);
}

.button-cta-letter:hover {
  border-color: var(--color-white);
}

.button-success {
  background-color: green;
  color: var(--color-white);
  box-shadow: none;
  transition: all 2s ease;
}
