
.letter-cta-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 5px;
}

.letter-button-div {
  margin: 6px;
}

#letter-explanation {
  padding-bottom: 0;
}

.button-cta-letter {
  padding-left: 15px;
  margin-top: 10px;
}

.letter-ul {
  margin: 0px;
}

.letter-bullet-li{
  margin-bottom: 0px;
}

.letter-bullet-li::before {
  content: "\2B50"; /* Unicode symbol for li bullet */
  padding-right: 2px;
}

.p-bold {
  font-weight: bold;
  padding-bottom: 2px;
}

.p-letter {
  padding-top: 10px;
}

.contact-box {
  margin: 12px 0px 12px 0px;
  padding-bottom: 10px;

}
