* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* GENERIC STYLES */
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  max-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont,
    “Segoe UI”, “Roboto”, “Oxygen”, “Ubuntu”, “Cantarell”,
    “Fira Sans”, “Droid Sans”, “Helvetica Neue”, sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
  font-size: 16px;
  line-height: 1.3;
}

/* Primary header */
#header-main,
#footer-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  height: 80px;
  width: 100vw;
}

/* Navigation */
#logo {
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
}

/* Main form and footer content container */
#parking-form-main {
  width: 100%;
  overflow-y: scroll; /* Scroll window for main content so header stays fixed */
  height: 100vh; /* To push footer to bottom of page */
}

/* Main content containers */
#parking-form-main,
.questionnaire-container,
.section-container,
.cta-sticky-container,
.finished-section-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.questionnaire-container,
.cta-sticky-container {
  max-width: 500px;
  width: 100%; /* want cta sticky width to match questionnaire containers */
 -ms-flex-negative: 0;
      flex-shrink: 0;  /*To fix safari bug of container not filling full height */
}

.section-container {
  padding: 0% 10% 5% 10%;
  display: block; /* To fix Chrome/Safari issue with first section divs overlapping */
}

/* experimental for IO API */
.active-section-container{
  border-left: 5px solid;
  border-radius: 1px;
}

/* For testing
.questionnaire-container,
.section-container,
.field-container,
.field-date,
.fieldset-radio,
.field-checkbox ,
.field-radio-button,
.field-label-large,
.field-label-small,
.field-hint,
.field-example,
.field-abstract-example,
.container-day,
.container-month,
.container-year,
.cta-sticky-container {
  border: 1px solid red; /* for testing */
}

/* To center and control questionnaire fields with flexbox*/
.field-container,
.field-date,
.field-checkbox,
.fieldset-radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;

  padding: 0;
  margin: 0;
}

/* Fields that are aligned with flexbox using row */
.date-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

/* Margin to next question */
.field-container,
.field-date,
.fieldset-radio,
.field-checkbox {
  margin-bottom: 20px;
}

/* Standard & large input field widths */
.section-container,
.field-container,
.field-container .abstract,
.field-abstract-example,
.field-checkbox,
.field-date,
.fieldset-radio {
  width: 100%; /* of .questionnaire-container */
}

/* Unselected field styling */
.field-container input[type="text"],
.field-container input[type="email"],
.field-container input[type="password"],
.field-container .abstract,
.field-date input[type="number"],
.field-date input[type="text"] {
  border: 2px solid;
  border-radius: 5px;
  width: 100%;
  padding: 7px;
  font-size: 14px;
}

/* h1 styling for questions without standard primary label */
.question-primary {
  margin-top: 30px;
  margin-bottom: 6px;
  font-size: 24px;
}

/* Primary label styling */
.field-label-large {
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: bold;
  display: inline-block;
}

.field-label-small {
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 19px;
}

/* Supporting label styling */
.field-hint {
  padding-bottom: 6px;
}

.field-hint,
.field-example,
.field-abstract-example {
  display: block;
  font-size: 14px;
}

.field-example,
.field-abstract-example {
  padding-top: 5px;
  margin-left: 4px;
  font-style: italic;
}

/* RADIO BUTTON STYLING */
  /* To hide default rb selector styling */
input[type="radio"] {
  opacity: 0;
}
  /* To remove radio button fieldset default border */
.fieldset-radio {
  border-style: none;
}

.field-radio-button {
  margin: -12px -12px 0px -12px;
}

.field-radio-button label {
  position: relative;
  cursor: pointer;
  text-indent: -30px; /* To prevent second line wrapping under rb selector */
  padding: 7px 5px 7px 40px;
  display: inline-block;
  width: 100%;
}

.field-radio-button label:hover {
  border-radius: 25px;
}

.field-radio-button input:checked ~ label {
  text-shadow: none;
  padding-left: 40px; /* to fix chrome alignment bug */
  border-radius: 25px;
}

  /* Custom radio button styling */
.customRB {
  display: inline-block;
  height: 20px;
  width: 20px;
  border: 3px solid;
  border-radius: 50%;

  /* to vertically center */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/* Small interior rb circle */
.customRB::after {
  display: inline-block;
  position: absolute;
	content: '';
  border-radius: 100%;
  height: 8px;
  width: 8px;
  left: 22%;
  top: 50%;
  transform: translateY(-50%);
}

input:checked ~ label .customRB {
 transition: border .25s linear;
  -webkit-transition: border 0.25s linear;
}

input:checked ~ label .customRB::after {
  transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;
}

.answerTextRB {
  padding-left: 30px;
}

/* Styling of date fields */
.container-month {
 margin-right: 10px;
 display: block;
}

.container-day {
  -webkit-appearance: none; /* To remove stepper */
  max-width: 50px;
  width: 100%;
  margin-right: 10px;
  display: block;
}

.container-year {
  max-width: 70px;
  width: 100%;
  display: block;
}

/* To style the date dropdown */
.container-month select {
  background-color: hsla(210, 17%, 93%, 1);
  border: 3px solid hsla(180, 100%, 13%, 1);
  border-radius: 7px;
  width: 100%;
  padding: 7px;
  font-size: 14px;            /* This won't work in Chrome or Safari */
  -webkit-appearance: none;   /* This will make it work */
}

.container-month select:focus {
  background-color: hsla(0, 100%, 100%, 1);
}

/* Bylaw info box styling */
#check-bylaw-info-section {
  padding: 0px;
}
.info-box-div, #letter-preview-container {
  margin-top: 4%;
  padding: 5%;
  font-size: 15px;
  border-radius: 4px;
  text-shadow: none;
}

.info-box-disclaimer-text {
  font-size: 12px;
}

/* For spacing legislation subsections */
ul {
  margin-left: 8px;
}

li {
  list-style-type: none;
  margin-left: 28px;
  margin-bottom: 12px;
  text-indent: -24px;
}

/* Spacing for last section */
#finished-section-container {
  margin-bottom: 20px;
  padding-top: 30px;
  padding-right: 30px;
  padding-left: 30px;
}

/* Output Section */
#output {
  padding-top: 30px;
  padding-right: 30px;
  padding-left: 30px;
  /* padding-bottom: calc(100vh - 125px - 80px); */

}

/* CTA sticky*/
.cta-sticky-container {
  position: -webkit-sticky;
  position: sticky;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
        justify-content: space-evenly;
  -webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
  bottom: 0;
  height: 80px;
  padding: 15px;
}

/* Buttons */
#button-previous,
#button-next {
  font: inherit;
  border: none;
  border-radius: 3px;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance:none;
  padding:10px 20px;
  outline: none;
}

#button-previous {
  margin-right: 4px;
}

#button-next {
  margin-left: 4px;
}

#button-submit {
  font: inherit;
  border: none;
  border-radius: 3px;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance:none;
  padding:10px 20px;
  outline: none;
}


/* Mobile Styles */
@media only screen and (max-width: 400px) {
  .questionnaire-container {
    background-color: #D6E9FE; /* Light Blue */
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .questionnaire-container {
    background-color: #F5CF8E; /* Yellow */
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {

}
